<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-md-between justify-content-center align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <img class="img-fluid" src="assets/images/logo.webp?height=60&width=200" alt="Code & Shield Expo logo"/>
    </div>

    <ul class="nav col-md-4 justify-content-center">
      <li><a href="index.html" class="nav-link px-2 fw-bold">Home</a></li>
      <li><a href="speakers.html" class="nav-link px-2 fw-bold">Speakers</a></li>
      <li><a href="" class="nav-link px-2 fw-bold">About</a></li>
      <li><a href="" class="nav-link px-2 fw-bold">Tickets</a></li>
    </ul>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="nav-link px-2" href="#" aria-label="Code & Shield Expo on Threads"><i
        class="fa-brands fa-lg fa-threads"></i></a></li>
      <li class="ms-3"><a class="nav-link px-2" href="#" aria-label="Code & Shield Expo on Instagram"><i
        class="fa-brands fa-lg fa-instagram"></i></a></li>
      <li class="ms-3"><a class="nav-link px-2" href="#" aria-label="Code & Shield Expo on Mastodon"><i
        class="fa-brands fa-lg fa-mastodon"></i></a></li>
    </ul>
  </footer>
</div>
