<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none" aria-label="Home">
        <img class="img-fluid" src="assets/images/logo.webp?height=120&width=400" alt="Code & Shield Expo logo"/>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="speakers.html" class="nav-link px-2 fw-bold">Speakers</a></li>
      <li><a href="" class="nav-link px-2 fw-bold">About</a></li>
      <li><a href="" class="nav-link px-2 fw-bold">Tickets</a></li>
    </ul>
  </header>
</div>
