<div class="mx-8">
  <header class="py-3 mb-4 border-b justify-items-center flex flex-row justify-between">
    <div>
      <a href="/" aria-label="Home">
        <img src="assets/images/logo.webp?height=120&width=400" alt="Code & Shield Expo logo"/>
      </a>
    </div>

    <ul class="flex justify-items-center items-center">
      <li><a href="speakers.html" class="px-2 font-bold text-blue-700 hover:text-orange-500">Speakers</a></li>
      <li><a href="" class="px-2 font-bold text-blue-700 hover:text-orange-500">About</a></li>
      <li><a href="" class="px-2 font-bold text-blue-700 hover:text-orange-500">Tickets</a></li>
    </ul>
  </header>
</div>
